<body>
  <header><p>タスクを編集する</p></header>

<%= form_with(model: @task, local: true, url: choose_new_or_edit) do |form| %>
  <% if @task.errors.any? %>
  <div id="error_explanation">
  <h2><%= @task.errors.count %>件のエラーがあります。</h2>
  
  <ul>
  <% @task.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
  </div>
  <% end %>
  <div class="show_edit">
  <div class="task_title">
    <%= form.label :タスク名 %><br>
    <%= form.text_field :title %>
  </div>

  <div class="task_content">
    <%= form.label :タスク詳細 %><br>
    <%= form.text_area :content %>
  </div>

  <div class="task_end_limit">
    <%= form.label :終了期限 %><br>
    <%= form.date_field :end_limit ,default: Date.new(2019, 5, 1) %>
  </div>
  <br>

  <div class="task_status">
    <%= form.label :状態 %>
    <%= form.select :status,[["未着手","未着手"],["着手中","着手中"],["完了","完了"]] %>
  </div>

  <div class="task_priority"><br>
    <%= form.label :優先順位 %>
    <%= form.select :priority,Task.priorities.keys.to_a, {} %>
  </div>
  <br>
  
  <% Label.all.each do |label| %>
    <%= form.check_box :label_ids, { multiple:true, checked: label[:checked], disabled: label[:disabled],include_hidden: false }, label[:id] %>
    <label><%= label.title %></label>
    <% end %>
  <%= form.submit %>
<% end %>
<br>

  <%= link_to "タスク一覧画面にもどる", tasks_path %>
  </div>
</body>