<h1>タスク一覧</h1>

<p><%= notice %></p>

<%= search_form_for @q do |f| %>
    <%= f.label :title_cont, "タスク名検索" %>
    <%= f.search_field :title_cont %>

    <%= f.label :status_cont, "状態検索" %>
    <%= f.select :status_cont, @statues, include_blank: true %>
    
 

    <%= f.hidden_field :search, value: 'true' %>


    <%= f.submit "検索" %>
    <% end %>

<table>
<tr>
<th>タスク名</th>
<th>タスク詳細</th>
<th><%= sort_link(@q, :end_limit, '終了期限') %></th>
<th>状態</th>
<th>優先順位</th>
</tr>

<% @tasks.each do |task| %>
<tr>

<td><%= task.title %></td>
<td><%= task.content %></td>
<td><%= task.end_limit %></td>
<td><%= task.status %></td>
<td><%= task.priority %></td>

<td><%= link_to '詳細', task_path(task.id) %></td>
<td><%= link_to '編集', edit_task_path(task.id) %></td>
<td><%= link_to '削除', task_path(task.id), method: :delete,data: { confirm: '本当に削除していいですか？' } %></td>
</tr>
<% end %>
</table>
<br>
<%= link_to '新しくタスクを投稿する', new_task_path %>
<br>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
<br>
<%= link_to "優先順位が高い順にソートする", tasks_path(sort_priority: "true") %>

<br>
<%= t('view.sample') %>