<body>
  <header><p>Label List</p></header>
    <div class="show_edit">
    <%= link_to '新しくラベルを作成する', new_label_path ,class: 'btn btn-primary btn-sm' %>
    <%= link_to 'タスク一覧へ', tasks_path ,class: 'btn btn-primary btn-sm' %>
　     <% @labels.each do |label| %> 

        <h3><%= label.title %></h3>   
        <%= link_to '確認', label, class:'btn-top-radius' %>
        <%= link_to '削除', label, method: :delete, data: { confirm: '実行しますか?' } , class:'btn-top-radius' %>
  <% end %>
</table>
</div>
</body>
