<body>
  <header><p>Label List</p></header>
    <div>
      <p id="notice"><%= notice %></p>

　     <% @labels.each do |label| %> 
　       <%= link_to '新しくラベルを作成する', new_label_path ,class: 'btn btn-primary btn-sm' %>
         <p>名前: <%= label.title %></p>   
         <p><%= link_to '確認', label, class:'btn-top-radius' %>
         <%= link_to '編集', edit_label_path(label) , class:'btn-top-radius' %>
         <%= link_to '削除', label, method: :delete, data: { confirm: '実行しますか?' } , class:'btn-top-radius' %></p><br>
　       <% end %>
     </div>
</body>
