<body>
<header>
<p>管理画面(ユーザー一覧)</p>
</header>
<div>
<%= link_to '新しくユーザーを作成する', new_admin_user_path ,class: 'btn btn-primary btn-sm' %>
    <% @users.each do |user| %>
       
        
        <% if current_user.admin? && !(current_user == user) %>  
        
        <p>名前: <%= user.name %></p>   
        <p>タスク数: <td><%= user.tasks.count %></td>
        <p><%= link_to '確認', admin_user_path(user), class:'btn-top-radius' %>
        <%= link_to '編集', edit_admin_user_path(user) , class:'btn-top-radius' %>
        <%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '実行しますか?' } , class:'btn-top-radius' %></p>
<br>
<% end %>
<% end %>
</div>
<%= paginate @users %>
</div>
</body>
