<!DOCTYPE html>
<html>
  <head>
    <title>Manyo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div class="container">

  <p><% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
    <% end %></p>
    <%= yield %>
    </div>

  <footer class="footer">
  <div class="container">
  <% if logged_in? %>
    <%= link_to "Profile", user_path(current_user.id) ,class: 'btn btn-success btn-sm' %>
    <%= link_to "Logout", session_path(current_user.id), method: :delete ,class: 'btn btn-success btn-sm' %>
  <% else %>
　  <%= link_to "Sign up", new_user_path ,class: 'btn btn-info btn-sm' %>
    <%= link_to "Login", new_session_path ,class: 'btn btn-info btn-sm' %>
  <% end %>
  </div>
</footer>
</body>
</html>
